body {
  background-image: url(https://www.vhv.rs/dpng/d/144-1445791_transparent-movie-marquee-png-flat-movies-icon-png.png) ;
  background-color: blue;
  background-size: 50px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px;
}

.myimage {
  height: 350px;
  border-radius: 5px;
}
.myimage:hover{
  box-shadow: 5px black;
}

.button {
  height: 20px;
  width: 50px;
  margin: auto;
  border: none;
  background-color: rgb(95, 116, 160);
  border-radius: 5px;
}

.container {
  background-color: lightskyblue;
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
}
a:link {
  color: red;
  text-decoration:none;
}

a:visited {
  color: black;
  text-decoration:none;
}

a:hover {
  color: hotpink;
  text-decoration:none;
}

a:active {
  color: blue;
  text-decoration:none;
}